{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },

  "env": {
    "es6": true
  }
}

// npm install --save-dev eslint-config-prettier eslint-plugin-prettier
